@charset "UTF-8";
* {
  scroll-behavior: smooth;
}

section {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

.fab.fa-whatsapp {
  font-size: 16px !important;
}

.fa-map-marker-alt {
  color: #ea4335;
  font-size: 24px;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.font-regular {
  font-family: "Glory" !important;
}

.mt-3 {
  margin-top: 16px !important;
}

.img-fluid {
  max-width: 100%;
}

.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
  }
}
#main {
  height: 100vh;
}
#main #bg {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main #bg .cb-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 2;
  animation: imageAnimation 36s linear infinite 0s;
}
#main #bg .cb-slideshow,
#main #bg .cb-slideshow:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}
#main #bg .cb-slideshow:after {
  content: "";
  background: transparent url(../img/pattern.png) repeat top left;
}
#main #bg .cb-slideshow li span::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
#main #bg .cb-slideshow li:nth-child(1) span {
  background-image: url(../img/bg1.jpg);
}
@media (max-width: 599px) {
  #main #bg .cb-slideshow li:nth-child(1) span {
    background-position: 53% 50%;
  }
}
#main #bg .cb-slideshow li:nth-child(2) span {
  background-image: url(../img/bg3.jpg);
  animation-delay: 6s;
}
@media (max-width: 599px) {
  #main #bg .cb-slideshow li:nth-child(2) span {
    background-position: 43% 50%;
  }
}
#main #bg .cb-slideshow li:nth-child(3) span {
  background-image: url(../img/bg2.jpg);
  animation-delay: 12s;
}
@media (max-width: 599px) {
  #main #bg .cb-slideshow li:nth-child(3) span {
    background-position: 80% 50%;
  }
}
#main #bg .cb-slideshow li:nth-child(4) span {
  background-image: url(../img/bg5.jpg);
  animation-delay: 18s;
}
@media (max-width: 599px) {
  #main #bg .cb-slideshow li:nth-child(4) span {
    background-position: 53% 50%;
  }
}
#main #bg .cb-slideshow li:nth-child(5) span {
  background-image: url(../img/bg4.jpg);
  animation-delay: 24s;
}
@media (max-width: 599px) {
  #main #bg .cb-slideshow li:nth-child(5) span {
    background-position: 84% 50%;
  }
}
#main #bg .cb-slideshow li:nth-child(6) span {
  background-image: url(../img/bg6.jpg);
  animation-delay: 30s;
}
#main #bg .content {
  width: 300px;
  max-width: 90%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 900px) {
  #main #bg .content {
    height: 350px;
  }
}
#main #bg .content .branch {
  width: 200px;
  opacity: 0.75;
}
#main #bg .content #title {
  font-family: "Great Vibes";
  font-size: 2rem;
  color: white;
  opacity: 0.75;
}
#main #bg .content small {
  font-family: "Glory";
  color: white;
  font-style: italic;
  z-index: 1;
}
#main #bg .content #monograma {
  width: 200px;
  opacity: 0.75;
}

nav {
  max-width: 100vw;
  width: 100%;
  height: 80px;
  padding: 8px 24px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 2;
}
nav.gallery i {
  color: black !important;
}
@media (min-width: 900px) {
  nav.gallery a {
    color: black !important;
  }
}
nav.gallery #menu ul li::after {
  background-color: black;
}
@media (min-width: 900px) {
  nav {
    position: absolute;
  }
}
nav #brand {
  width: 70px;
}
nav #menu {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav #menu i {
  font-size: 40px;
  color: white;
  z-index: 9999999999;
}
@media (min-width: 900px) {
  nav #menu i {
    display: none;
  }
}
nav #menu #menu-items {
  display: none;
}
nav #menu #menu-items:checked ~ ul {
  height: 120vh;
  width: 120vh;
  left: calc(50% - 60vh);
  top: -10vh;
  background: rgba(0, 0, 0, 0.85);
}
nav #menu #menu-items:checked ~ ul li {
  opacity: 1;
}
nav #menu ul {
  position: absolute;
  width: 65px;
  height: 65px;
  left: 15px;
  top: 10px;
  border-radius: 50%;
  transition: all 1s;
  overflow: hidden;
  box-sizing: border-box;
  list-style: none;
  background: transparent;
  z-index: 99999999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 900px) {
  nav #menu ul {
    height: unset;
    top: 16px;
    display: flex;
    left: 0;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    border-radius: 0;
  }
}
nav #menu ul li {
  padding: 12px;
  transition: opacity 1s;
  transition-delay: 1s;
  opacity: 0;
  visibility: hidden;
}
@media (min-width: 900px) {
  nav #menu ul li {
    background: none;
    margin: 0 16px;
    position: relative;
    visibility: visible;
    opacity: 1;
  }
  nav #menu ul li:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 0;
    background: white;
    left: 0;
    bottom: 0;
    transition: 1s;
  }
  nav #menu ul li:hover:after {
    width: 100%;
  }
}
nav #menu ul li:last-of-type {
  border-bottom-right-radius: 50px;
}
nav #menu ul li a {
  color: #fff;
  font-size: 36px;
  font-family: "Glory";
  text-decoration: none !important;
}
@media (min-width: 900px) {
  nav #menu ul li a {
    color: white;
    font-size: 20px;
  }
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.head {
  position: relative;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.head span {
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: zoom 30s infinite;
}
.head.gallery h1 {
  color: black;
}
.head.gallery::before {
  background: none;
}
.head.wishlist span {
  background-image: url("../img/head-wishlist.jpg");
  background-position: 50% 20%;
}
.head.presence span {
  background-image: url("../img/head-presence.jpg");
}
@media (max-width: 599px) {
  .head.presence span {
    background-position-x: 90%;
  }
}
.head.donate span {
  background-image: url("../img/head-donate.jpg");
}
@media (max-width: 599px) {
  .head.donate span {
    background-position-x: 50%;
  }
}
.head.local span {
  background-image: url("../img/head-local.jpg");
}
@media (max-width: 599px) {
  .head.local span {
    background-position-x: 50%;
  }
}
.head::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.head h1 {
  font-family: "Great Vibes";
  color: white;
  font-weight: normal;
  font-size: 78px;
  padding-top: 32px;
  z-index: 1;
  max-width: 90%;
}

.separator {
  width: 200px;
  height: 30px;
  display: block;
  margin: 32px auto;
  background-image: url("../img/separator.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.separator2 {
  width: 120px;
  height: 10px;
  display: block;
  margin: 60px auto;
  background-image: url("../img/separator2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#gallery {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#gallery div {
  width: calc(100% - 5px);
}
@media (min-width: 900px) {
  #gallery div {
    width: calc(33.333% - 5px);
  }
}
#gallery div img {
  width: 100%;
}

#page {
  width: 90%;
  margin: 35px auto;
  text-align: center;
  margin-bottom: 20vh;
}
@media (min-width: 900px) {
  #page {
    width: 70%;
  }
}
#page p {
  font-family: "Glory";
  font-size: 20px;
  line-height: 1.5;
  margin: 32px 0;
}
@media (min-width: 900px) {
  #page p {
    font-size: 18px;
    margin: 64px 0;
  }
}
#page p small {
  display: block;
  margin: 16px 0;
}

#wishlist {
  margin: 50px 0;
}
#wishlist .item.already {
  position: relative;
}
#wishlist .item.already::after {
  content: "JÁ GANHAMOS!";
  font-family: "Glory";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  height: 100%;
  align-items: center;
  text-align: center;
  width: 100%;
  justify-content: center;
  z-index: 999999;
  font-size: 50px;
  color: #363636;
  font-weight: bold;
}
@media (min-width: 900px) {
  #wishlist .item.already::after {
    font-size: 78px;
  }
}
#wishlist .item.already::before {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 999;
}
#wishlist .item {
  margin-bottom: 32px;
}
#wishlist .item .title {
  font-family: "Glory";
  font-size: 36px;
}
#wishlist .item .all-wrapper {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 900px) {
  #wishlist .item .all-wrapper {
    flex-direction: row;
  }
}
#wishlist .item .pic-wrapper {
  width: 100%;
  background-color: white;
}
@media (min-width: 900px) {
  #wishlist .item .pic-wrapper {
    width: 50%;
  }
}
#wishlist .item .pic-wrapper img {
  width: 100%;
  max-width: 200px;
}
@media (min-width: 900px) {
  #wishlist .item .pic-wrapper img {
    max-width: 400px;
  }
}
#wishlist .item .info {
  width: 100%;
  margin: 16px 0;
}
@media (min-width: 900px) {
  #wishlist .item .info {
    width: 50%;
  }
}
#wishlist .item .info .comment {
  width: 100%;
  margin: 0 auto;
  margin-top: 32px;
  font-size: 18px;
  font-style: italic;
}
@media (min-width: 900px) {
  #wishlist .item .info .comment {
    width: 70%;
  }
}
#wishlist .item .info ul {
  list-style: none;
}
#wishlist .item .info ul li {
  font-family: "Glory";
  font-size: 18px;
  margin-bottom: 8px;
}
#wishlist .item .info ul li.store {
  margin-bottom: 24px;
  font-size: 20px;
}

.fab.fa-whatsapp {
  font-size: 24px;
  margin: 0 8px;
  font-weight: 900;
  color: #25d366;
}

#confirm-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#confirm-wrapper button {
  margin: 0 10px;
  height: 100%;
  text-align: center;
  border: none;
  background-color: #25d366;
  padding: 8px 16px;
  color: white;
  font-family: "Glory";
  font-size: 24px;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
}
#confirm-wrapper button i {
  color: white;
  font-weight: normal;
}
#confirm-wrapper div {
  height: 100%;
  width: 100%;
  margin-bottom: 16px;
}
#confirm-wrapper input {
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #cfcc8d;
  border-radius: 3px;
  padding: 16px;
  font-size: 20px;
  font-family: "Glory";
  color: #84824a;
  box-sizing: border-box;
  transition: all 0.5s;
}
#confirm-wrapper input:focus {
  outline: none;
  border-color: #84824a;
}

#thanks-wrapper {
  display: none;
  transition: all 0.5s;
  opacity: 0;
}
#thanks-wrapper #thanks {
  margin-top: 64px;
  font-size: 48px;
  font-family: "Great Vibes";
  font-style: italic;
  color: #b37531;
}
#thanks-wrapper #thanks i {
  font-size: 24px;
  margin: 0 16px;
}

.donate {
  margin: 0 auto;
}
.donate input[type=image] {
  margin: 32px auto;
  display: block;
  text-align: center;
  max-width: 250px;
}

.title {
  font-family: "Great Vibes";
  text-align: center;
  margin: 32px 0;
  color: #262615;
}

h1.title {
  font-size: 54px;
}

h2.title {
  font-size: 40px;
}

h3.title {
  font-size: 32px;
}

#passos {
  margin: 32px auto;
  width: 1600px;
  max-width: 90%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
@media (min-width: 900px) {
  #passos {
    flex-direction: row;
  }
}
#passos .passo {
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  position: relative;
  text-align: center;
  font-family: "Glory";
}
@media (min-width: 900px) {
  #passos .passo {
    width: 30%;
  }
}
#passos .passo h2 {
  margin-bottom: 16px;
}
#passos .passo p {
  font-size: 20px;
}
#passos .passo p span {
  display: block;
  margin-bottom: 20px;
}
#passos .passo:not(:last-of-type):after {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  right: -6%;
  top: 0;
  background-color: lightgray;
}

#buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 900px) {
  #buttons {
    flex-direction: row;
  }
}
#buttons .button {
  margin: 0 32px;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  display: none;
  opacity: 0;
  z-index: 999999999;
}
.modal .modal-content {
  width: 900px;
  max-width: 90%;
  height: 90%;
  background-color: white;
  border-radius: 4px;
  transition: all 0.5s;
  margin-top: -100px;
  position: relative;
}
.modal .modal-content .modal-header span {
  font-size: 36px;
  text-align: right;
  display: block;
  padding: 8px 16px;
  font-weight: 600;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}
.modal .modal-content .modal-body {
  padding: 16px 32px;
  height: 70%;
  overflow-y: auto;
  position: relative;
}
.modal .modal-content .modal-body p {
  text-align: center;
  font-family: "Glory";
  font-size: 22px;
}

#qrpix {
  width: 200px;
  padding: 30px;
  padding-bottom: 0;
}

#map {
  border: none;
  display: block;
  margin: 60px auto;
}

#index {
  margin-bottom: 32px;
}

#collapse-index-label h3 {
  font-family: "Glory";
  font-size: 24px;
  margin-bottom: 8px;
  cursor: pointer;
}

#collapse-index {
  display: none;
}

#index {
  height: 0;
  overflow: hidden;
  transition: all 0.75s;
}
#index li {
  margin-bottom: 8px;
  font-family: "Glory";
  font-size: 20px;
}

.fa-chevron-down {
  font-size: 16px;
  margin-left: 8px;
  transition: all 0.5s;
}

#collapse-index:checked ~ #index {
  height: 540px;
}

/*# sourceMappingURL=style.css.map */
